

.topContainer{
  width:100%;
  height:100%;
  position:fixed;
  display:flex;

}

.inputPane{
  left:0;
  overflow-y:scroll;
  box-sizing: border-box;
  width: calc(30% - 30px);
  height: calc(100% - 40px);
  margin:20px 10px 20px 20px;
  border-radius:5px;
  background-color: #dcdeb6;
  border-color:#cf361f;
  position:fixed;
}

.outputChart{
  right:0;
  width: calc(70% - 30px);
  height: calc(100% - 40px);
  margin:20px 20px 20px 10px;
  border-radius:5px;
  background-color:#dcdeb6;
  border-color:#cf361f;
  position:fixed;
}

.invtype{
  display:flex;
}


.tester{
  width:1010px;
  height:810px;
  border:5px solid red;
}


datalist {
  display: flex;
  justify-content: space-between;
  color: red;
  width: 50%;
}

input {
  width: 50%;
}
